@using MP.Model.Models
@model MP.Model.Models.Trip
@{
    ViewBag.Title = "TripContent";
    var tripName = Model.TripName == TripName.MA ? "Mỹ An - Sài Gòn" : "Sài Gòn - Mỹ An";
    var maList = new List<object>
                 {
                     new {Text = "3:00", Value = DepartureTime.C300},
                     new {Text = "5:30", Value = DepartureTime.C530},
                     new {Text = "7:30", Value = DepartureTime.C730},
                     new {Text = "9:30", Value = DepartureTime.C930},
                     new {Text = "11:30", Value = DepartureTime.C1130},
                     new {Text = "13:30", Value = DepartureTime.C1330},
                     new {Text = "15:00", Value = DepartureTime.C1500}
                 };
    var maSelectList = new SelectList(maList, "Value", "Text");
    var sgList = new List<object>
                 {
                     new {Text = "7:00", Value = DepartureTime.C700},
                     new {Text = "8:30", Value = DepartureTime.C830},
                     new {Text = "10:30", Value = DepartureTime.C1030},
                     new {Text = "12:30", Value = DepartureTime.C1230},
                     new {Text = "14:00", Value = DepartureTime.C1400},
                     new {Text = "15:30", Value = DepartureTime.C1530},
                     new {Text = "17:00", Value = DepartureTime.C1700}
                 };
    var sgSelectList = new SelectList(sgList, "Value", "Text");
    var townList = new List<object>
                 {
                     new {Text = "Đến Trạm", Value = Town.TR},
                     new {Text = "Dọc Đường", Value = Town.DD},
                     new {Text = "Trường Xuân", Value = Town.TX},
                     new {Text = "Mỹ Hòa", Value = Town.MH},
                     new {Text = "Tân Kiều", Value = Town.TK},
                     new {Text = "Gò Tháp", Value = Town.GT},
                     new {Text = "Chợ Mới", Value = Town.CM},
                     new {Text = "Chợ Cũ", Value = Town.CC},
                     new {Text = "N2", Value = Town.N2},
                     new {Text = "Mỹ Đông", Value = Town.MD},
                     new {Text = "Mỹ Đông Huyện Ủy", Value = Town.MDHU},
                     new {Text = "Láng Biển", Value = Town.LB},
                     new {Text = "Mỹ Quý", Value = Town.MQ},
                     new {Text = "Đường Thét", Value = Town.DT},
                     new {Text = "Khu Hành Chính", Value = Town.KHC}
                 };
    var townSelectList = new SelectList(townList, "Value", "Text");
    var minute = DateTime.Now.Minute < 10 ? "0" + DateTime.Now.Minute : DateTime.Now.Minute.ToString() ; 
    var nowTime = Int32.Parse(DateTime.Now.Hour + "" + minute);
}
<div class="tabbable">
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#passenger" data-toggle="tab">Hành Khách</a></li>
        <li><a href="#item" data-toggle="tab">Hàng Hóa</a></li>
    </ul>
    <div class="tab-content col-md-12">
        <div class="tab-pane active" id="passenger">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" id="today">Hôm nay</button>
                            <button type="button" class="btn btn-default" id="lastDay"><span class="glyphicon glyphicon-arrow-left"></span></button>
                            <button type="button" class="btn btn-default" id="nextDay"><span class="glyphicon glyphicon-arrow-right"></span></button>
                        </div>
                        <input type="text" id="departureDateDatePicker" value="@String.Format("{0:dd/MM/yyyy}", DateTime.Now)" />
                        <div class="btn-group" data-toggle="buttons" id="departureTimeButtonGroup">
                            @{
                                var selectList = Model.TripName == TripName.MA ? maSelectList : sgSelectList;
                                bool actived = false;
                                foreach (var item in selectList)
                                {
                                    var active = "";
                                    if ((Int32.Parse(item.Text.Replace(":", "")) > nowTime || item.Value == selectList.Last().Value) && !actived )
                                    {
                                        active = "active";
                                        actived = true;
                                    }
                                    <label class="btn btn-primary @active">
                                        <input type="radio" name="departuretimes" value="@item.Value"> @item.Text
                                    </label>
                                }
                            }
                        </div>
                        <button type="button" class="btn btn-success" id="printScreen">In</button>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#passengerListModal">In Danh Sách</button>
                    </div>
                </div>
            </div>
            <div id="printScreenContent" class="row">
                    <div class="col-md-8 padding-5px" id="departureInfoLabel">
                    </div>
                    <div class="col-md-6 padding-5px">
                        <div class="thumbnail seat-number">
                            <span class="label label-default">Tài xế</span>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-md-6 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="1" data-target="#tripContentModal">
                            <span class="label label-default">1</span>
                            <span class="seat-number-1"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="2" data-target="#tripContentModal">
                            <span class="label label-default">2</span>
                            <span class="seat-number-2"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="3" data-target="#tripContentModal">
                            <span class="label label-default">3</span>
                            <span class="seat-number-3"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="4" data-target="#tripContentModal">
                            <span class="label label-default">4</span>
                            <span class="seat-number-4"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="5" data-target="#tripContentModal">
                            <span class="label label-default">5</span>
                            <span class="seat-number-5"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="6" data-target="#tripContentModal">
                            <span class="label label-default">6</span>
                            <span class="seat-number-6"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="7" data-target="#tripContentModal">
                            <span class="label label-default">7</span>
                            <span class="seat-number-7"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="8" data-target="#tripContentModal">
                            <span class="label label-default">8</span>
                            <span class="seat-number-8"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <div class="thumbnail seat-number">
                            <span class="label label-default">Cửa</span>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="9" data-target="#tripContentModal">
                            <span class="label label-default">9</span>
                            <span class="seat-number-9"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="10" data-target="#tripContentModal">
                            <span class="label label-default">10</span>
                            <span class="seat-number-10"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="11" data-target="#tripContentModal">
                            <span class="label label-default">11</span>
                            <span class="seat-number-11"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="12" data-target="#tripContentModal">
                            <span class="label label-default">12</span>
                            <span class="seat-number-12"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="13" data-target="#tripContentModal">
                            <span class="label label-default">13</span>
                            <span class="seat-number-13"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="14" data-target="#tripContentModal">
                            <span class="label label-default">14</span>
                            <span class="seat-number-14"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="15" data-target="#tripContentModal">
                            <span class="label label-default">15</span>
                            <span class="seat-number-15"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="16" data-target="#tripContentModal">
                            <span class="label label-default">16</span>
                            <span class="seat-number-16"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="17" data-target="#tripContentModal">
                            <span class="label label-default">17</span>
                            <span class="seat-number-17"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="18" data-target="#tripContentModal">
                            <span class="label label-default">18</span>
                            <span class="seat-number-18"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="19" data-target="#tripContentModal">
                            <span class="label label-default">19</span>
                            <span class="seat-number-19"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="20" data-target="#tripContentModal">
                            <span class="label label-default">20</span>
                            <span class="seat-number-20"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="21" data-target="#tripContentModal">
                            <span class="label label-default">21</span>
                            <span class="seat-number-21"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="22" data-target="#tripContentModal">
                            <span class="label label-default">22</span>
                            <span class="seat-number-22"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="23" data-target="#tripContentModal">
                            <span class="label label-default">23</span>
                            <span class="seat-number-23"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="24" data-target="#tripContentModal">
                            <span class="label label-default">24</span>
                            <span class="seat-number-24"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="25" data-target="#tripContentModal">
                            <span class="label label-default">25</span>
                            <span class="seat-number-25"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="26" data-target="#tripContentModal">
                            <span class="label label-default">26</span>
                            <span class="seat-number-26"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="27" data-target="#tripContentModal">
                            <span class="label label-default">27</span>
                            <span class="seat-number-27"></span>
                        </a>
                    </div>
                    <div class="col-md-3 padding-5px">
                        <a href="#" class="thumbnail seat-number" data-toggle="modal" data-default-seat-number="28" data-target="#tripContentModal">
                            <span class="label label-default">28</span>
                            <span class="seat-number-28"></span>
                        </a>
                    </div>
                </div>
            </div>
        <div class="tab-pane" id="item">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <input type="text" id="fromDateDatePicker" value="@String.Format("{0:dd/MM/yyyy}", DateTime.Now)" />
                        <input type="text" id="toDateDatePicker" value="@String.Format("{0:dd/MM/yyyy}", DateTime.Now)" />
                        <select class="form-control select-time" id="fromTime">
                            @foreach (var item in selectList)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                        <select class="form-control select-time" id="toTime">
                            @foreach (var item in selectList)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                        <button type="button" class="btn btn-default" id="showAllItems">Xem tất cả</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="itemGrid"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="tripContentModal" tabindex="-1" role="dialog" aria-labelledby="tripContentLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="tripContentLabel">Cập nhật hành khách</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="tripContentForm" role="form">
                    <input type="hidden" id="TripName" name="TripName" text="@tripName" value="@Model.TripName" />
                    <input type="hidden" id="Id" name="Id"/>
                    <div class="form-group">
                        <label for="Phone" class="col-sm-3 control-label">Điện thoại</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Phone" name="Phone" placeholder="Điện thoại">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Address" class="col-sm-3 control-label">Địa chỉ đón</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="Address" name="Address" placeholder="Địa chỉ đón"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Town" class="col-sm-3 control-label">Khu vực</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="Town" name="Town">
                                @foreach (var item in townSelectList)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="TicketQuantity" class="col-sm-3 control-label">Số lượng vé</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="TicketQuantity" name="TicketQuantity" placeholder="Số lượng vé">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Name" class="col-sm-3 control-label">Tên hành khách</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Name" name="Name" placeholder="Tên hành khách">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Note" class="col-sm-3 control-label">Ghi chú</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="Note" name="Note" placeholder="Ghi chú"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DepartureDate" class="col-sm-3 control-label">Ngày</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="DepartureDate" name="DepartureDate" placeholder="Ngày" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DepartureTime" class="col-sm-3 control-label">Chuyến</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="DepartureTime" name="DepartureTime" placeholder="Giờ" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="SeatNumber" class="col-sm-3 control-label">Số ghế</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="SeatNumber" name="SeatNumber" placeholder="Số ghế" disabled>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="cancelPassenger">Hủy</button>
                <button type="button" class="btn btn-primary" id="submitPassenger">Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="passengerListModal" tabindex="-1" role="dialog" aria-labelledby="passengerListLabel" aria-hidden="true">
    <div class="modal-dialog modal-xlg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="passengerListLabel">Danh sách hành khách</h4>
            </div>
            <div class="modal-body">
                <div class="input-group btn-group margin-bottom-10px">
                    <span class="input-group-addon"><b>Chọn khu vực</b></span>
                    <select id="selectTown" multiple="multiple">
                        @foreach (var item in townSelectList)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                    <button type="button" class="btn btn-primary" id="filterTown">Tìm</button>
                    <button type="button" class="btn btn-success" id="printScreenPassengerList">In</button>
                </div>
                <div id="passengerGrid"></div>
            </div>
        </div>
    </div>
</div>
